.slider {
    width:300px

}

.wrapper {
  display: grid;
}

.a {
         grid-column-start: 1;
        grid-column-end: 2;
        
    }
.b {

         grid-column-start: 2;
        grid-column-end: 3;
    }