<div class="wrapper">
    <div class="box a">


        <p>
            <label class="label">Number of dots</label>
            <input (change)="onSettingChange()" [disabled]="NotInMode(['new', 'generated'])" class="slider" type="range" max="150" min="1" [(ngModel)]="settingService.RouteLength"
            /> {{settingService.RouteLength}}
        </p>
        <p>
            <label class="label">Total Population</label>
            <input (change)="onSettingChange()"  [disabled]="NotInMode(['new', 'generated'])" class="slider" type="range" max="300" min="1" [(ngModel)]="settingService.TotalPopulation"
            /> {{settingService.TotalPopulation}}
        </p>
        <p>
            <label class="label">No Of Generations to run</label>
            <input (change)="onSettingChange()"  [disabled]="NotInMode(['new', 'generated'])" class="slider" type="range" max="100000" min="1" [(ngModel)]="settingService.NoOfGenerations"
            /> {{settingService.NoOfGenerations}}
        </p>

        <p>
            <label class="label">Mutation Rate</label>
            <input (change)="onSettingChange()"  class="slider" type="range" max="1" min="0" step="0.01" [(ngModel)]="settingService.MutationRate" /> {{settingService.MutationRate}}
        </p>

        <p>
            <label class="label">Tournament Size</label>
            <input (change)="onSettingChange()"  class="slider" type="range" max="30" min="2" step="1" [(ngModel)]="settingService.tournamentSize" /> {{settingService.tournamentSize}}
        </p>

        <p>

            <label class="label"> Is Elitist </label>
            <input  (change)="onSettingChange()"  type="checkbox" [(ngModel)]="settingService.IsElitist" />
        </p>

        <p> <label class="label"> Number of possible pathways </label> {{noOfCombinations}}</p>
        <p> <label class="label"> Number of pathways to calculate </label> {{noOfTests | number}}</p>
        <p> best distance is : {{bestDistance | number}} </p>
        <p> generation : {{currentGeneration}} </p>
        <p> mode : {{mode}}</p>
        <p>
            <button [disabled]="NotInMode(['new', 'generated', 'stop'])" (click)="onGenerate()">Generate</button>
            <button [disabled]="NotInMode(['generated', 'stop'])" (click)="onStart()">Start</button>
            <button [disabled]="NotInMode(['run'])" (click)="onStop()">Stop</button>
        </p>
        <p> paths </p>
        <p *ngFor="let p of sortedPaths, let i=index">
            {{i}} ({{p.Fitness() | number : '1.0-0' }}) : 
            {{p.ToString}}
        </p>
    </div>
    <div class="box b">
        <canvas #myCanvas height="600" width="400" style="border:1px solid #000000;"></canvas>
    </div>
</div>